#topall {
    width: 100%;
}
#bottomall {
    margin-top: 30px;  
}
/*Responsive Styles*/
@media screen and (max-width : 780px) {
    /*Display menu on two lines*/
    #bottomall {
        margin-top: 60px;  
    }
}

/*Strip the ul of padding and list styling*/
nav ul {
    list-style-type:none;
    margin:0;
    padding:0;
    position: absolute;
}
/*Create a horizontal list with spacing*/
nav li {
    display: block;
    float: left;
    margin-right: 1px;
}
/*Style for menu links*/
nav li a {
    display:block;
    min-width:100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background: darkblue;
    text-decoration: none;
    border: 1px solid white;
}
/*Hover state for top level links*/
nav li:hover a {
    background: #19c589;
}
/*Style for dropdown links*/
nav li:hover ul a {
    background: #f3f3f3;
    color: #2f3036;
    height: 30px;
    line-height: 30px;
}
/*Hover state for dropdown links*/
nav li:hover ul a:hover {
    background: #19c589;
    color: #fff;
}
/*Hide dropdown links until they are needed*/
nav li ul {
    display: none;
}
/*Make dropdown links vertical*/
nav li ul li {
    display: block;
    float: none;
}
/*Prevent text wrapping*/
nav li ul li a {
    width: auto;
    min-width: 100px;
    padding: 0 20px;
    text-align: center;
}
/*Display the dropdown on hover*/
nav ul li a:hover + .hidden, .hidden:hover {
    display: block;
}
/*Style 'show menu' label button and hide it by default*/
.show-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: #fff;
    background: #19c589;
    text-align: center;
    padding: 10px 0;
    display: none;
}
/*Hide checkbox*/
nav input[type=checkbox]{   
    display: none;
}
/*Show menu when invisible checkbox is checked*/
nav input[type=checkbox]:checked ~ #menu{
    display: block;
}
/*Responsive Styles*/
@media screen and (max-width : 300px){
    /*Make dropdown links appear inline*/
    ul {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    li {
        margin-bottom: 1px;
    }
    /*Make all menu links full width*/
    ul li, li a {
        width: 100%;
    }
    /*Display 'show menu' link*/
    .show-menu {
        display:block;
    }
}

.infofiles {
    padding-top: 10px;
    font-size: 110%;
    background-color: darkblue;
    color: #fff;
}

.headtopi {
    padding-left: 4px;
    vertical-align: middle;
}

.headtopt {
    text-align: center;
    vertical-align: middle;
}

.fa-color-required { color: #fb1820; }
.fa-color-optional { color: #2d8924; }
.fa-color-expand { color: #551cd9; }
.fa-color-toggle { color: #26cdd9; }

/*
.fa-choice-toggle { color: #099ff6; }
.fa-choice-set { color: #01feaa; }
.fa-choice-expand { color: #2803fc; }
.fa-choice-not-set { color: #e8176b; }
.violet-klein { color: #551cd9; }
*/

/*
 * nodeContent
 */

.nodeIdent {
    display: inline;
    border: 1px solid #551cd9;
    border-collapse: collapse;
	border-radius: 2px;
    font-weight: bold;
}

.showonoff {
    display: inline;
}

.nodeContent {
    width:"100%";
    /*
    border: 2px solid blue;
	border-radius: 2px;
    */
    border-collapse: collapse;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
    display: inline;
}

.eltDesc {
    display: inline;
    font-style: italic;
    font-size: smaller;
    background-color: lightgray;
}

.eltDescBlock {
    display: block;
    font-style: italic;
    font-size: smaller;
    background-color: lightgray;
}

.toggle {
    display: inline;
}

.contentCountMany {
    /*
        ici optionel pour les blocs à ajouter
    */
    display: block;

    /*
    border: 1px solid black;
	border-radius: 4px;
    background-color: #88AAFF;
    */
}

.contentCountSimple {
    display: block;
}

.plusCM {
    float: left;
    margin-right: 5px;
    margin-top: 0px;
    color: blue;
    /*
    border: 1px solid blue;
	border-radius: 4px;
    */
}

.content {
    display: block;
    clear: both;
}

.headSequence {
    display: block;
}

.validate {
    display: inline-block;
}

.nodeField {
    display: inline-block;
    font-size: large;
}

.headSequence .nodeField {
    display: block;
}

.headHRef {
    display: inline-block;
/*    border: 1px solid grey; */
}

.highlight {
    border: 3px solid green;
}

.nodeEdit {
    display: inline-block;
}

.nodeAttr {
    display: inline-block;
    font-size: initial;
}

.nodeAttr label {
    margin-left: 5px;
    margin-right: 5px;
    font-style: italic;
    font-size: smaller;
    background-color: lightgray;
}

.nodeField label {
    margin-left: 5px;
    margin-right: 5px;
    /*
    border: 1px solid blue;
	border-radius: 4px;
    */
    font-style: italic;
    font-size: smaller;
    background-color: lightgray;
}

.nodeField em {
    margin-left: 5px;
    margin-right: 5px;
}

input {
    background-color: #F7F7F7;
    min-width: 30px!important;
    max-width: 800px!important;
    transition: width 0.25s;
    font-size: large;
}

input.date {
    background-color: #F7F7F7;
    width: 180px;
    font-size: large;
}

strong {
    font-size: x-large;
}

select {
    font-size: large;
}

select.iso {
    font-size: smaller;
    width: 600px;
}

.optional {
    background-color: #88FFFF;
}

.recommended {
    background-color: #88AAFF;
}

.obligatory {
    background-color: white;
}

.fa-square-o { 
    color:blue;
}

.fa-check-square-o { 
    color:blue;
}

.multiline {
    display: block;
    box-sizing: padding-box;
    overflow: hidden;
    min-width: 50px;
    padding: 0px;
}

button.ok {
    background-color: blue;
    color: white;
}

/*Style for popup ODD choice*/
#aumomodal {
    background: whitesmoke;
}
.aumo {
    display:block;
    min-width:100px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: darkblue;
    text-decoration: none;
    border-collapse: collapse;
	border-radius: 4px;
}

.aumo p {
    margin: 0;
    padding: 0;
}

.aumobutton {
    border: 1px solid white;
}

.aumobutton:hover {
    background: #19c589;
}

.aumoinfo {
    background: blue;
    font-size: large;
}
.aumotitle {
    background: blue;
    font-size: large;
}

.aumocancel {
    border: 1px solid white;
}

.aumocancel:hover {
    background: #19c589;
}
