.css-fileDesc { background-color: lightgreen; }
.css-textDesc { background-color: rgb(144, 185, 238); }
.css-particDesc { background-color: rgb(216, 144, 238); }
.css-encodingDesc { background-color: rgb(238, 200, 144); }
.css-settingDesc { background-color: rgb(16, 144, 148); }
.css-sourceDesc { background-color: rgb(119, 124, 223); }
.recording-element { background-color: lightblue; }
.media-p-element { background-color: blue; }
