.recording-element { background-color: blue; color: white; }
.media-p-element { background-color: red; color: white; }
.UPI-desc-anonymization { color: red; background-color: darkblue; }
.UPI-desc-quality { color: darkblue; background-color: yellow; }
