.UP-contributor { background-color: lightgreen; }
.UPI-contributor-contributor { font-size: 120%; color: darkblue; background-color: lightyellow; }
.UPI-contributor-refine { width: 80px; }
.UPI-contributor-language { width: 80px; }
.UPI-contributor-scheme { width: 80px; }
.UP-coverage { background-color: lightblue; }
.UPI-coverage-coverage { font-size: 120%; color: darkblue; background-color: lightyellow; }
.UPI-coverage-refine { width: 80px; }
.UPI-coverage-language { width: 80px; }
.UPI-coverage-scheme { width: 80px; }
.UP-date { background-color: lightgreen; }
.UPI-date-contributor { font-size: 120%; color: darkblue; background-color: lightyellow; }
.UPI-date-refine { width: 80px; }
.UPI-date-language { width: 80px; }
.UPI-date-scheme { width: 80px; }
.UP-description { background-color: blue; }
.UPI-description-coverage { font-size: 120%; color: darkblue; background-color: lightyellow; }
.UPI-description-refine { width: 80px; }
.UPI-description-language { width: 80px; }
.UPI-description-scheme { width: 80px; }
