.coverage-css { background-color: blue; }
.contributor-css { background-color: red; }
.UPI-contributor-refine { color: red; background-color: darkblue; }
.creator-data-css { color: purple; background-color: green; }
.UPI-description-scheme { color: darkblue; background-color: yellow; }
